
<% unless current_user == locals[:user].id %>

  <div id="follow">
  <% if following?(locals[:user]) %>
    <%= render 'add' %>
  <% else %>
    <%= render 'delete' %>
  <% end %>
  </div>
<% end %>
