

<div id="follow-button">
<% unless current_user == locals[:user].id %>

  <!-- <div id="follow"> -->
  <% if following?(locals[:user]) %>
     <%= render 'delete', locals: {user: locals[:user]} %>
  <% else %>
  <%= render 'add', locals: {user: locals[:user]} %>

   <% end %>

<% end %>
</div>
