<div id="toolbar">

  <% if current_user %>
    <%= link_to "Log Out", session_path, method: :delete %>
    <%= link_to "Profile", user_path(current_user) %>
  <% else %>
    <%= link_to "Log In", new_session_path %>
  <% end %>
</div>
