// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-list{
  width:20vw;
  padding: 2vw 1vw 0 2vw;
  border-right: 2px solid rgb(157,175,196);
  box-shadow: 5px 0 5px rgb(157,175,196);
}

.user-list ul {
  padding: inherit;
}

.user-list li:hover{
  border-right: 3px solid rgb(97,68,107);
}

.link{
  text-decoration: none;
  color:rgb(24,15,25);
  // transition: 0.5s;

}

.link:hover{
  color:rgb(97,68,107);
}
